<div class="row actions">
<a class="btn btn-info" href="<%= adminprefix %>/project">Projects</a>
<a class="btn btn-info" href="<%= adminprefix %>/project/<%= projectid %>">Project</a>
<a class="btn btn-primary" href="<%= adminprefix %>/project/<%= projectid %>/dcategory/new">New Decision Category</a>
</div>
<div class="row">
<table class="table-striped table-bordered">
    <tr>
        <th>&nbsp;</th>
        <th>Name</th>
    </tr>
<% items.forEach(function (item) { %>
    <tr>
        <td><a href="<%= adminprefix %>/project/<%= projectid %>/dcategory/<%= item.id %>">View</a></td>
        <td><%= item.name %></td>
    </tr>
<% }); %>
</table>
</div>
