<div class="row actions">
<a class="btn btn-info" href="<%= adminprefix %>/project/<%= project.id %>">Project</a>
<a class="btn btn-info" href="<%= adminprefix %>/project/<%= project.id %>/period/<%= period.id %>">Period</a>
</div>

<div class='row'>
    <table class="table-striped table-bordered">
        <tr>
            <td>Name</td>
            <td><%= period.name %></td>
        </tr>
    </table>
</div>

<div class='row form-group'>

<form method="post">
<table class="table-striped table-bordered">
    <tr>
        <th>From</th>
<% 
    var nsh = 0;
    shareholders.forEach(function (shareholder) { 
        nsh++;
        var fieldname = "to_" + nsh;
    %>
        <th>To <%= shareholder.username %> <input type="hidden" value="<%= shareholder.id %>" id="<%= fieldname %>" name="<%= fieldname %>"/></th>
<% }); %>
    </tr>
<% 
    var ntm = 0;
    team.forEach(function (teammember) { 
        ntm++;
        var fieldname = "from_" + ntm;
    %>
    <tr>
        <td><%= teammember.username %> <input type="hidden" value="<%= teammember.id %>" id="<%= fieldname %>" name="<%= fieldname %>"/></td>
        <% 
        var nsh = 0;
        shareholders.forEach(function (shareholder) { 
            nsh++;
            var fieldname = "assign_" + ntm + "_" + nsh;
            
            if (shareholder.id == teammember.id) {
        %>
            <td></td>
        <%
            }
            else {
        %>
        <td><input type="text" class="form-control input-sm" id="<%= fieldname %>" name="<%= fieldname %>" /></td>
        <% }
        }); %>
    </tr>
<% }); %>
</table>
<input class="btn btn-success" type="submit" value="Assign" />
<form>
</div>

