<div class="row actions">
<a class="btn btn-info" href="<%= adminprefix %>/project/<%= project.id %>">Project</a>
<a class="btn btn-info" href="<%= adminprefix %>/project/<%= project.id %>/period/<%= period.id %>">Period</a>
</div>

<div class='row'>
    <table class="table-striped table-bordered">
        <tr>
            <td>Name</td>
            <td><%= period.name %></td>
        </tr>
    </table>
</div>

<div class='row form-group'>

<table class="table-striped table-bordered">
    <tr>
        <th>From</th>
<% shareholders.forEach(function (shareholder) { %>
        <th>To <%= shareholder.username %></th>
<% }); %>
    </tr>
<% team.forEach(function (teammember) { %>
    <tr>
        <td><%= teammember.username %></td>
        <% shareholders.forEach(function (shareholder) { %>
        <td><input type="text" class="form-control input-sm" /></td>
        <% }); %>
    </tr>
<% }); %>
</table>
</div>

