<div class="row actions">
<a class="btn btn-info" href="<%= adminprefix %>/project/<%= project.id %>">Project</a>
<a class="btn btn-primary" href="<%= adminprefix %>/project/<%= project.id %>/period/<%= item.id %>/edit">Edit Period</a>
<a class="btn btn-danger" href="<%= adminprefix %>/project/<%= project.id %>/period/<%= item.id %>/remove">Remove Period</a>
</div>

<div class='row'>
    <table class="table-striped table-bordered">
        <tr>
            <td>Name</td>
            <td><%= item.name %></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><%= item.date %></td>
        </tr>
        <tr>
            <td>Amount</td>
            <td><%= item.amount %></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><%= item.closed ? "Closed" : "Opened" %></td>
        </tr>
    </table>
</div>

<div class='row'>
<h2>Assignments</h2>

<div class="actions">
<a class="btn btn-primary" href="/project/<%= project.id %>/period/<%= item.id %>/assignment/new">New Assignment</a>
</div>

<table class="table-striped table-bordered">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th></th>
    </tr>
<% assignments.forEach(function (assignment) { %>
    <tr>
        <td><a href="<%= adminprefix %>/person/<%= assignment.from.id %>"><%= assignment.from.name %></a></td>
        <td><a href="<%= adminprefix %>/person/<%= assignment.to.id %>"><%= assignment.to.name %></a></td>
        <td><%= assignment.amount %></td>
        <td>
        <a class="btn-danger btn-sm" href="<%= adminprefix %>/project/<%= project.id %>/period/<%= item.id %>/assignment/<%= assignment.id %>/remove">Remove</a>
        </td>
    </tr>
<% }); %>
</table>
</div>

