<% if (notes.length > 0) { %>
    <ul>
        <% for(var i = 0; i < notes.length; i++) { %>
            <li>
                <a href="/notes/<%= notes[i].id %>"><%= notes[i].text %></a>

                <form action="/notes/<%= notes[i].id %>/delete" method="POST">
                    <a class="btn btn-mini btn-danger confirm_remove"
                        href="#<%= notes[i].id %>">delete note</a>
                    <a class="btn btn-mini btn-primary" href="/notes/<%= notes[i].id %>/edit">edit
                        note</a>
                </form>

            </li>
        <% } %>
    </ul>
<% } else { %>
<p>There are no notes yet.</p>
<% } %>

<h3>Add a new note</h3>
<form role="form" class="form-inline" action="/notes" method="POST">
    <label class="form-group">
        <span class="input-group">
            <span class="input-group-addon">Note Text: </span>
            <input class="form-control" type="text" name="note.text"/>
        </span>
    </label>
    <button class="btn btn-success" type="submit">Add note</button>
</form>
